@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-900 bg-white;
  }
}

/* Custom Scrollbar for Kanban Board */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #DFE1E6;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B3BAC5;
}
